body{
    padding: 0;
    margin: 0;
    font-family: 'Alatsi', sans-serif;
}

header{
    margin:35px 80px 0 80px;   
}

.f-search{
    padding-left: 157px;
}

/* search */

.search{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.search:hover{
    text-decoration: none;
    color: black;
}

/* menu */

.menu{
    margin-top: 60px;
}

.user{
    margin-left: -45px;
}

.user li,
.menu li
{
    display: inline-block;
}

.menu li a
{
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    color: black;
}

.img-hot{
    position: absolute;
    margin-top: -17px;
    margin-left: 30px;
}

/* user */

.user li.action-user{
    margin-left: 30px;
}

.user li.money{
    margin-left: 25px;
    margin-right: 30px;
}

.user li a
{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.sort-down{
    margin-left:11px;
}

/* introding */
.slide{
    margin: 20px 80px 0 80px;
    position: relative;
}

.introding-img img{
    width:100%;
}

.introding-text{
    position: absolute;
    width: 100%;
    bottom: 175px;
}

.follow-me ul{
    list-style-type:none;
    margin-top: 30px;
    margin-left:20px;
}

.follow-me li{
    line-height: 35px;
}

.follow-me a{
    color: rgb(163, 159, 159);
}

.title p{
    color:#f6663f;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 4px;
}

.title h2{
    font-weight: bold;
    font-family: 'Calistoga', cursive;
    letter-spacing: 1px;
    margin-top: 30px;
}

.shopnow{
    border-radius: 25px;
    border:1px solid black;
    width:165px;
    height:50px;
    margin-top:25px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
}

.shopnow p{
    color: black !important;
    margin-top: 13px;
}

.active-img{
    font-size:10px;
    font-weight: 600;
    padding:10px 0;
}

/* feature-collection */
.collection{
    margin-top: 129px;
}

.ft-welcome{
    font-size: 12px;
    font-weight: bold;
    color: #898989;
    text-align: center;
    letter-spacing: 2px;
    line-height: 10px;
}

.ft-title{
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    line-height: 47px;
    margin-top: 30px;
}

.collection img{
    width: 100%;
}

.feature-up{
    margin-top: 70px;
    position: relative;
}

.desc-top {
    position: absolute;
    left: 65px;
    bottom: 50px;
}

.feature-down{
    margin-top: 15px;
    position: relative;
}

.desc-down {
    position: absolute;
    top: 50px;
    left: 65px;
}

.ft-weather{
    font-size: 18px;
    font-weight: bold;
    line-height: 10px;
}

.ft-gender{
    font-size: 12px;
    font-weight: bold;
    color: #898989;
    margin-top: 5px;
    line-height: 10px;
    letter-spacing: 2px;
}

.collect-hover:hover p.ft-weather{
    color:#f6663f;
}

.img-add{
    position: absolute;
    left: 150px;
    top: 160px;
    display: none;
}

.collect-hover:hover .img-add{
    display: block;
}

/* feature product */
.cate-product{
    margin: 70px 80px 0 80px;
}

.pr-title{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
}

.cate li{
    display: inline-block;
    margin: 10px 20px 0 0;
}

.cate a{
    text-decoration: none;
    color: #898989;
    font-size: 12px;
    font-weight: bold;
}

.cate a:hover{
    text-decoration: none;
    color: black;
}

.list-pr{
    margin-top: 50px;
}

.product{
    width: 255px;
    float: left;
    position: relative;
}

.pr-right{
    margin-right: 21px;
}

.product img.img-pr{
    width: 100%;
}

.img-sale,
.img-news{
    position: absolute;
    top: 30px;
    right: 15px;
}

.name{
    font-size: 15px;
    font-weight: bold;
    color: #898989;
    line-height: 48px;
    margin-top: 5px;
}

.price{
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    margin-top: -23px;
}

.product:hover
{
    box-shadow: 5px 5px 5px 5px rgb(185, 184, 184);
}

.add-cart{
    display: block;
    color: black !important;
    margin-left: 30px;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}

.add-cart:hover{
    text-decoration: none;
}

.action{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: none;
}

.img-action{
    margin-bottom: 22px;
}

.product:hover .action{
    display: block;
    background-color: #fff;
}

.img-action-1,
.img-action-2,
.img-action-3{
    margin-right: 12px;
}

.img-color-1{
    margin-left: 30px;
}

.img-color-2,
.img-color-3{
    margin-left: 5px;
}

/* clear */

.clear{
    clear: both;
}

/* lookbook */
.lookbook{
    margin: -35px 80px;
    /* position: relative; */
}

.goto{
    text-align: center;
    margin: 105px 0 0 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 32px;
    color:  #898989;
    letter-spacing: 1px;
}

.line-goto{
    border-bottom: 2px solid #898989;
    width: 85px;
    margin: -4px 0 0 38px;
}

.lk-img img{
    width: 100%;
    margin-top: 121px;
}

.lk-img{
    position: relative;
}

.lk-desc{
    bottom: 0;
    position: absolute;
}

.inspi{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.newin{
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    margin-top: 7px;
    letter-spacing: 1px;
}

.viewlook{
    /* margin-top: 20px;
    margin-left: 585px; */
    width: 190px;
    height: 50px;
    background-color:#f6663f;;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    font-size: 11px;
    color: #fff;
    letter-spacing: 2px;
}

/* info services */

.infoservices{
    margin-top: 290px;
}

.infoservices i{
    font-size: 40px;
}

.infoservices p{
    line-height: 10px;
}

.infoservices a{
    text-decoration: none;
    color:black;
}

.infoservices a:hover{
    text-decoration: none;
    color:black;
}

.info-title{
    font-size: 12px;
    font-weight: 700;
}

.info-desc{
    font-size: 10px;
    color: rgb(163, 159, 159); 
    font-weight: 500;
}

/* newletter */

.newsletter{
    margin-top: 100px;
}

.newsletter p.newlt{
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3px;
    color: rgb(163, 159, 159);  
    line-height: 10px;
}

.newsletter p.getDisc{
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
}

.newsletter p.getNotifi{
    font-size: 13px;
    font-weight: bold;
    color: rgb(163, 159, 159); 
    margin-top: -5px;
}

.send-mail{
    margin-top: 40px;
}

.send-mail button{
    border-radius: 25px;
    background-color: black;
    width: 130px;
    height: 45px;
    color: #fff; 
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;   
}
.send-mail input{
    border-radius: 25px;
    height: 45px;
    background-color: rgb(223, 247, 253);
}

.send-mail input:active{
    border: none;
}

/* footer */

footer,.info-us{
    margin-top: 60px;
}

.cp-right p{
    font-size:13px;
    font-weight: 600;
    color: rgb(163, 159, 159); 
}

.about-us p,
.contact p
{
    font-size: 13px;
    line-height: 10px;
    font-weight: 500;
}

.contact a{
    color: black;
}

.contact a:hover{
    text-decoration: none;
}

.follows p{
    font-size: 13px;
    line-height: 10px;
    font-weight: 800;
}

.follows ul{
    list-style-type: none;
    margin-left: -50px;
}

.follows li{
    display: inline-block;
    padding: 10px;
}

.follows a{
    color: rgb(163, 159, 159); 
}